.protection-indicator-footer,
.protection-indicator-reason {
	margin: 0.5em 0 0.5em 0;
}

.protection-indicator-log-link:before {
	content: '(';
}

.protection-indicator-log-link:after {
	content: ')';
}
