.protectionindicator-extension-popup .comment--without-parentheses::before,
.protectionindicator-extension-popup .mw-changeslist-links::before,
.protectionindicator-extension-popup .mw-tag-markers::before {
	content: '( ';
}

.protectionindicator-popup .comment--without-parentheses::after,
.protectionindicator-popup .mw-changeslist-links::after,
.protectionindicator-popup .mw-tag-markers::after {
	content: ' )';
}

.protectionindicator-popup .mw-changeslist-links > span:not( :first-child )::before {
	content: ' | ';
}

.protectionindicator-popup .protectionindicator-help-text .mw-logline-protect {
	margin: 0.7em 0 0.7em 0;
}

.protectionindicator-popup .protectionindicator-help-text .mw-logline-stable {
	margin: 0.7em 0 0.7em 0;
}
