.protectionindicator-extension-footer,
.protectionindicator-extension-reason {
	margin: 0.5em 0 0.5em 0;
}

.protectionindicator-extension-log-link:before {
	content: '(';
}

.protectionindicator-extension-log-link:after {
	content: ')';
}
